<h1>Pick a file to upload ... </h1>
<%= form_tag("/admin/upload_template", :multipart => true ) do %>  

    <%= label_tag("File to upload as a template: ") %><p/>
    <%= file_field_tag :template_file_name %><p/>

    <%= submit_tag("Upload the template!") %>
<% end %>
