<h1>Contact</h1>
Email: <%= mail_to "slabounty@gmail.com" %><br/>
Blog: <%= link_to "Steamcode", "http://www.steamcode.blogspot.com" %><br/>
LinkedIn: <%= link_to "Scott LaBounty", "http://www.linkedin.com/in/slabounty" %><br/>
