<h1>Help</h1>
<p> Welcome to GreetingSocial! To get started Go to the Users page, pick someone, 
and send them a card! You can have your friends sign the card too. Simply add their 
email addresses in the box.
</p>

