<h1>Greeting Social Application</h1>
<p> This is the home page for the Greeting Social app.  </p>

<% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
<%= link_to "Check out our cards!", 'cards/show_all_cards', :class => "signup_button round" %>
