<table class="cards" summary="User received cards">
    <%= render :partial => 'cards/cards', :collection => @received_cards, :as => :card,
            :locals => { :display_type => :received } %>
</table>
<%= will_paginate @received_cards %>

