<tr>
    <td class="card">
        <span class="greeting"><%= card.greeting %></span>
        <span class="timestamp">
            Created <%= time_ago_in_words(card.created_at) %> ago.
        </span>
    </td>
</tr>
